ion-searchbar {
  --background: white;
  padding: 0;
}

.secondary-buttons {
  font-size: smaller;
  @media (max-width: 768px) {
    display: none;
  }
}

.principal-buttons {
  margin: 0 15px 0 15px;
}

ion-buttons {
  align-self: center;
}
