<ion-toolbar mode="ios" class="buttons">
  <ion-buttons slot="start">
    <ion-button (click)="navigateHome()" class="principal-buttons"
      >4FRAME</ion-button
    >
    <ion-button class="secondary-buttons">FOR YOU</ion-button>
    <ion-button class="secondary-buttons">MOVIES</ion-button>
    <ion-button class="secondary-buttons">TV SHOWS</ion-button></ion-buttons
  ><ion-toolbar>
    <ion-searchbar
      placeholder="Search"
      show-clear-button="never"
    ></ion-searchbar>
  </ion-toolbar>
  <ion-buttons slot="end">
    <ion-button class="secondary-buttons">FAVORITES</ion-button>
    <ion-button class="secondary-buttons">MYLIST</ion-button>
    <ion-button class="principal-buttons"
      ><ion-icon name="person"></ion-icon></ion-button
  ></ion-buttons>
</ion-toolbar>
