<ion-header><app-header></app-header></ion-header>
<ion-content>
  <div class="detail-container">
    <app-sidebar
      [voteAverage]="episode?.vote_average"
      [date]="episode?.air_date"
      [seasonInfo]="season?.overview"
      [seasonPoster]="season?.poster_path"
    ></app-sidebar>
    <div class="serie-content">
      <app-show-detail
        [detail]="episode?.overview"
        [title]="episode?.name"
        [picture]="episode?.still_path | picture"
      ></app-show-detail>
      <app-episodes-swimlane [seasons]="season"></app-episodes-swimlane>
    </div>
  </div>
</ion-content>
<ion-footer><app-footer></app-footer></ion-footer>
